<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:node="remove"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>
    <application
        android:usesCleartextTraffic="true"
        android:name=".TrainLiveLocation"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrainLiveLocation"
        tools:targetApi="31">
        <activity
            android:name=".ui.AuthCheck"
            android:exported="false" />
        <activity
            android:name=".ui.splash"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TrainLiveLocation.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <intent-filter>
                    <action android:name="OPEN_FRAGMENT" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </intent-filter>
        </activity>


        <service
            android:name="com.example.trainlivelocation.MyFirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".utli.notificationListenerService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>


        <service
            android:name="com.example.data.LocationTrackForegroundService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.example.data.LocationTrackBackgroundService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.example.data.GetTrainLocationService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.example.trainlivelocation.utli.TrackTrainService"
            android:enabled="true"
            android:exported="false" />

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_icon_white" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/PrimaryColor" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBOgdzCGBUXTlDRW5X1yeaHYgS9UCsAihA"/>
    </application>

</manifest>